# Dependencies
node_modules
**/node_modules

# Package manager
.pnpm-store

# Build output
dist
**/dist
build
**/build

# Git
.git
.gitignore

# Environment
.env
.env.*
!.env.example

# Logs
*.log

# IDE
.vscode
.idea

# Tests
coverage